{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <!-- タイトルセクション -->
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="fw-bold">
                観光地画像を用いた色彩に基づく人の感性の推定と<br>感性による最適な観光地の推薦
            </h1>
        </div>
    </div>

    <!-- ナビゲーションリンクセクション -->
    <div class="row">
        <div class="col text-center">
            <a href="/image" class="btn btn-primary btn-lg" role="button">観光地の類似度</a>
        </div>
    </div>
</div>

{% endblock %}